body {
    font-family:'Times New Roman', Times, serif;
}

header {
    background-color:mediumseagreen;
}

nav {
    display: flex;
    background-color:greenyellow;
    justify-content: space-evenly;
}

nav a {
    display: flex;
    background-color: cadetblue;
    text-decoration:none;
    padding: 10px;
}

h2 {
    font-weight: bold;
}

h3 {
    text-align: center;
}

.parent {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas: "mocca browny browny browny";
}

.left {
    grid-area: mocca;
}

.right {
    grid-area: browny;
}

.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    background-color: bisque;
    margin: 20px;
}

figcaption{
    margin: 10px;
}
.card {
    flex-direction: column;
    grid-area:unset;
    display:inline-flex;
}

.pet {
    width: 25%;
    border:solid green;
    border-top-left-radius: 7px;
    box-shadow: 7px 15px;
}

img {
    width:100%;
}

.link {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.link a {
    display: block;
}