body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(161, 186, 233);
}

footer p {
    color: #3399FF;
}

#secondpar {
    color:chartreuse;
}

.blue {
    color:blue;
}

.green {
    color:green;
    background-color: bisque;
}

.bigger {
    font-size: 18pt;
}

.bolder {
    font-weight: bold;
}