body {
    font-family:'Times New Roman', Times, serif;
    font-size: 22pt;
    color:beige;
    background-color:darkseagreen;
}

footer p {
    color: #3399FF;
}

.explain {
    color:darkgoldenrod;
}
.bigger {
    font-size: 17pt;
}
.bolder {
    color:red;
}
.green {
    color: green;
}
.questions {
    font-weight: bolder;
}
.questionsone {
    font-weight: bolder;
}
.answerone {
    font-weight: bolder;
    color:coral
}
.questiontwo {
    font-weight: lighter;
}
.answertwo {
    font-weight: lighter;
    color:khaki
}
.questionthree {
    font-weight: 550;
    color:maroon
}