body {
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    background-color: rgb(153,229,229);
    justify-content: space-evenly;
}

nav a {
    display: block;
    background-color: rgb(192,235,148);
    padding: 10px;
}

.featured {
    order: -1;
}

.parent {
    background-color: rgb(237,237,110);
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap; */
    flex-flow: row wrap;
}

.child {
    background-color: rgb(206,170,241);
    width:150px
}