<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <header><h1>Korea Everland</h1></header>
        </div>
            <nav>
                <a href="#footer">T Express</a>
                <a href="#">Double Rock Spin</a>
                <a href="#">Rolling X Train</a>
                <a href="#">Amazon Express</a>
            </nav> 
        <div class="clear">
        </div>   
            <main>
            <div class="divide">
                <figure class="Amusement park">
                    <img src="eveland.png" alt="amusement">
                    <figcaption>Amusement</figcaption>
                </figure>
                <h1>What is a Everland</h1>
                <p class="font1">Everland Park was opened in 1976 as the first family park in Korea by Samsung Corporation and was designated as a national tourist destination by Gyeonggi Province, the city closest to Seoul, in 1977. Everland Park is an old amusement park in Korea. It opened on Mar. 25, 1996, under the official name Everland.</p>
                <p>Everland Park has 12 rides. Among the 12 rides, the most popular are the T-Express, Double Rock Spin, Rolling X Train, and Amazon Express. The rest of the rides have different preferences for different age groups. Additionally, hotels and restaurants are arranged around Everland Park, so tourists can spend a comfortable and enjoyable time on their daily schedule.</p>
        </div>
       </main>
        <footer id="footer">
            <p>&copy; 2025 Yootak Kim</p>
        </footer>
</body>
</html>