<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <div id="wrapper">
        <header><h1>Korea Everland</h1></header>
        </div>
        <nav>
            <a href="#footer">T Express</a>
            <a href="#">Double Rock Spin</a>
            <a href="#">Rolling X Train</a>
            <a href="#">Amazon Express</a>
            <div class="clear"></div>
         </nav>
        <main>
        <div class="divide">
            <h1>What is a Everland</h1>
            <p class="font1">Transportation is the movement of people,.......</p>
            <p>..........</p>
            <figure class="Transportation">
                <img src="사진.jpg" alt="transportation">
                <figcaption>Transportation</figcaption>
            </figure>
    </div>

        <h2>Bus</h2>
        <p>글</p>
        <p>글</p>
        <figure class="사진">
            <img src="사진2.png" alt="사진2">
            <figcaption>Bus</figcaption>
        </figure>
    </main>
    <footer id="footer">
        <p>&copy; 2025 Yootak Kim</p>
    </footer>
    
</body>
</html>