<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout</title>
    <link rel="stylesheet" href="layout.css">
</head>
<body>
    <header>
        <h1>Transporatation History</h1>
    </header>
    <nav>
        <a href="#footer">Bus</a>
        <a href="#">Taxi</a>
        <a href="#">Train</a>
        <a href="#">subway</a>
    </nav>
    <main>
        <div class="divide">
            <h1>what is transportation</h1>
            <p class="font1">Transportation is the movement of people,.......</p>
            <p>..........</p>
            <figure class="Transportation">
                <img src="사진.jpg" alt="transportation">
                <figcaption>Transportation</figcaption>
            </figure>
        </div>

        <h2>Bus</h2>
        <p>글</p>
        <p>글</p>
        <figure class="사진">
            <img src="사진2.png" alt="사진2">
            <figcaption>Bus</figcaption>
        </figure>
    </main>
    <footer id="footer">
        <p>&copy; 2025 Yootak Kim</p>
    </footer>
    
</body>
</html>