body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: red; */
    margin: 0;
}

header {
    background-color: violet;
}
header h1{
    margin: 0;
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: aqua;
}
nav a {
    display: block;
    padding: 10px;
    background-color: azure;
    color: brown;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover{
    text-decoration: underline;
    color: blue;
    background-color: red;
}
.divide {
    display: grid;
    grid-template-columns: 20% 80%;    
}
.parent {

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card {
    border: thin solid #000;
    box-shadow: 3px 3px 3px rgba(40, 40, 40, 0.5);
    width: 250px;
}
.card figure {
    margin: 0;
}
.card img {
    width: 100%;
}
.card h3{
    background-color: red;
}

@media ONLY screen AND (max-width: 700px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
    .card P{
        width: 80%;
    }
    .divide {
        display: flex;
        flex-direction: column-reverse;
    }

    .feature {
        order: -1;
    }
}
@media ONLY screen AND (max-width: 500px) {
    nav {flex-direction: column;}

    nav a {
        border-radius: 0;
        border-bottom: thin solid #FFF;
    }
    .divide {
        display: flex;
        flex-direction: column-reverse;
    }

}