body {
    font-family: Arial, Helvetica, sans-serif;
    /* background-color: rgb(0, 0, 111); */
    /* background-image: url('background.jpg');*/
    background: url('background.png') rgb(100, 100, 101); /*short cut property,*/ 
    background-repeat: repeat-y;
}/* no space between 1 and ( at the url () */

.mylist{
    /*list-style-type: none; */
    list-style-image: url(mark.png);
}
header {
    background:url(pet.png) top right no-repeat; /* short cut property */
    /*
    background-image: url('sky.jpg');
    background-repeat: no-repeat;
    background-postion: top right;
    */
    color:rgb(0, 80, 100);
}
footer {
    background:url(pet.png) bottom left no-repeat;
    margin: 200px 0 0 0;
    padding: 20px;
}